<%- include("includes/head", { bot, user, path, description, title, url }) %>
  <link rel="stylesheet" type="text/css" href="/css/home-page.css" />
  <% if (user) { %>
    <% const checked="home" %> <%- include("includes/side_nav_other", { user, path, checked_nav: checked }) %>
        <style>
          @media screen and (min-width: 950px) {

            .content-container,
            .hero-section {
              width: unset !important;
              margin-left: 270px !important;
            }

            .hero-section {
              margin-top: 60px;
            }

            .hero-content {
              margin-top: -60px !important;
            }

            .content-container {
              padding: 0 40px !important;
            }
          }
        </style>
        <section class="hero-section">
          <div class="hero-grid">
            <div class="hero-content">
              <img class="img" width="500" height="500" src="/pics/scarAvatarRounder.webp" alt="Avatar" />
              <p class="hero-title">
                Yay <span class="gradient-pink">
                  @<%= user.username %>
                </span>
              </p>
              <p class="hero-title2">
                You successfully connected your Discord account!<br />Go to your
                dashboard!
              </p>
              <span class="reload-container" style="margin: 0 auto; max-width: 20px">
                <a href="/dashboard" class="link-button green reload"><span class="reload-container">
                    <%- include('includes/icons/dashboard-main.ejs') %> Dashboard
                  </span></a>
              </span>
            </div>
          </div>
        </section>
        <% } else { %>
          <section class="brand_new_hero_section">
            <div class="brand_new_hero_grid">
              <img class="img brand_new_avatar" width="500" height="500" src="/pics/scarAvatarRounder.webp"
                alt="Avatar" />
              <p class="brand_new_hero_small_title">Hi! I'm Scar!</p>
              <p class="brand_new_header_line gradient-pink">The only one bot</p>
              <p class="brand_new_header_line">you will ever need!</p>
              <p class="brand_new_description">
                Experience the pinnacle of server security, comfort, and entertainment with our impressive array of +450 servers. Be part of this group by clicking the button below.
              </p>
              <span class="center-buttons">
                <a href="/login" class="link-button green">Go to Dashboard</a>
                <a href="/invite" class="link-button blue">Invite</a>
              </span>
            </div>
          </section>
          <% } %>
            <link rel="stylesheet" type="text/css" href="/css/cards.css" />
            <div class="content-container">
              <div class="stats">
                <div class="stats_inner">
                  <div class="stats_column">
                    <h2 class="stats_column_title">
                      141<span class="text-white-fade">+</span> Commands
                    </h2>
                  </div>
                  <div class="stats_column">
                    <h2 class="stats_column_title">
                      <%= bot.guilds.cache.size %><span class="text-white-fade">+</span>
                        Servers
                    </h2>
                  </div>
                  <div class="stats_column">
                    <h2 class="stats_column_title stats_hide_two">
                      <%= bot.guilds.cache.reduce((a, g)=> a + g.memberCount, 0) %><span
                          class="text-white-fade">+</span>
                        Users
                    </h2>
                  </div>
                  <div class="stats_column stats_hide_first">
                    <h2 class="stats_column_title">
                      <%= bot.channels.cache.size %><span class="text-white-fade">+</span>
                        Channels
                    </h2>
                  </div>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/modFinal.webp" alt="Moderation" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Moderation</h2>
                  <p>
                    At Scar, we offer a range of moderation and self-moderation systems to ensure <span class="line_underline">your server is always protected</span> and in high spirits.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/funFinal.webp" alt="Fun" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">LMAO That is so funny!</h2>
                  <p>
                    Elevate your server's engagement and well-being with Scar's <span class="line_underline">variety of commands and fun systems.</span>
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/imageManFinal.webp" alt="Image Manipulation" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Image Manipulation</h2>
                  <p>
                    Unleash your creativity with Scar's image manipulation, meme creation, and gaming features, boasting a collection of <span class="line_underline">over 20 images ready to be manipulated.</span>
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/logsFinal.webp" alt="Logs" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Logs</h2>
                  <p>
                    Stay on top of all server activity with Scar's <span class="line_underline">advanced logging system.</span> All systems can be conveniently configured in the dashboard.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/givFinal.webp" alt="Giveaway" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Giveaways</h2>
                  <p>
                    <span class="line_underline">Safely and reliably execute giveaways</span> to delight your members with Scar's dedicated functionality. You can also choose the required and bonus roles.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/levelFinal.webp" alt="Leveling" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Leveling</h2>
                  <p>
                    With Scar's economy system, your server members can <span class="line_underline">accumulate points, earn levels, and strive to be the best.</span> Boost engagement like never before.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/ecoFinal.webp" alt="Economy" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Economy</h2>
                  <p>
                    From winning to losing, investing to buying, transferring to playing - <span class="line_underline">we've got it all covered!</span> Keep your members engaged and entertained with our fun and interactive features.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/rrFinal.webp" alt="Reaction Roles" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Reaction Roles</h2>
                  <p>
                    Keep your community in the loop with Scar's <span class="line_underline">customizable announcement notifications.</span>
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/ticketFinal.webp" alt="Tickets" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Tickets</h2>
                  <p>
                    <span class="line_underline">Provide secure and private support</span> to your members with Scar's ticketing system, configure open and closed categories on the dashboard.
                  </p>
                </div>
              </div>
              <div class="product-row">
                <div class="product-image">
                  <img loading="lazy" src="pics/features/backupsFinal.webp" alt="Backups" />
                </div>
                <div class="product-text">
                  <h2 class="product-title">Backups</h2>
                  <p>
                    <span class="line_underline">Enjoy peace of mind with Scar's backup features</span><, allowing you to recover your server model on another server and store the last 30 messages from all channels.
                  </p>
                </div>
              </div>
            </div>
            <div class="content-container" style="margin-top: 5px">
              <h2 class="more-header">What can I do?</h2>
              <p class="more-text">
                Explore our bot's detailed command page and discover the full extent of Scar's capabilities. Choose Scar to take your Discord server to new heights.
              </p>
   <a href=" /commands %>" class="link-button green center-button"
                  >See command list</a>
            </div>
            <div class="content-container">
              <img loading="lazy" alt="sparkle" s class="sparkles" src="svg/sparkles.svg" />
              <h2 class="more-header">
                Ready to <span class="grandient-blue">boost</span> your server?
              </h2>
              <p class="more-text">
                Whether you're looking for auto-moderation or member engagement, Scar has got you covered. Choose Scar for the ultimate Discord experience.
              </p>
   <a href=" /invite %>" class="link-button blue center-button"
                  >Invite Scar now!</a
      >
   <img
      loading=" lazy" alt=" sparkles" class="sparkles" src="svg/sparkles.svg" style="transform: scaleX(-1)" />
            </div>
            <%- include("includes/footer") %>
